.docu{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.head{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}
.hr{
    height: 10px;
    border-radius: 5px;
}
.heading{
    font-family: 'Courier New', Courier, monospace;
}
.rose{
    font-family: 'Courier New', Courier, monospace;
}
.bhaihai{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.profile{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}